__pycache__/
*.py[cod]
.venv/
*.pkl
*.h5
*.keras



reports/
reports/figures/
*.png
wandb/



# generated outputs
reports/figures/

# venv + python junk
.venv/
__pycache__/
*.pyc

# model artifacts to keep in git
!*.pt
!*.joblib